* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
.main {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 2vmax 0;
  font-size: 4vw;
}

.inpBox,
.tasks {
  padding: 2vw 9vw;
  display: flex;
  justify-content: center;
}


#inptext ,#inpdate{
  width: 40%;
  font-size: 2vmax;
  border-radius: 5px;
  font-weight: 500;
  padding: 1vmax;
  border: 2px solid #dadada;
  outline-color: royalblue;
}

.add ,.tasks button{
  margin: 0 1vmax;
  font-size: 2vmax;
  padding: 1vmax 3vmax;
  border-radius: 0.5rem;
}

.add {
    background-color: rgb(125, 253, 127);
    transition: all 1s ease;
  }
.add:hover{
      transform: scale(1.05);
      background-color: rgb(179, 255, 180);
    }


.errMsg {
  font-size: 2vmax;
  color: red;
  margin-bottom: 2vw;
  text-align: start;
  padding-left: 5vmax;
}

.tasks{
    flex-direction: column;
}

.task{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(170, 164, 164);
    border-radius: 8px;
    box-shadow: 0 0 20px #302e2e;
    display: flex;
    margin: 1vw;
    padding: 5px 1vw;
    justify-content: space-between;
}

 .task {
  font-size: 1.5vmax;
  font-weight: 400;
  font-family:cursive;
}

.task .name{
  text-wrap: wrap;
}
.tasks button{
  align-self: center;
  height: 9vmin;
  background-color:rgb(255, 52, 52);
  color: #fff;
  transition: all 1s ease;
}
.tasks button:hover{
  transform: scale(1.05);
  background-color: rgb(255, 67, 67);
}





@media (max-width: 425px) {
  
  h1 {
    font-size: 7vw;
  }
  
  .inpBox {
    padding: 2vw 10vw;
    display: flex;
    justify-content:center;
    flex-direction: column;
  }
  
  
  #inptext ,#inpdate{
    width:100%;
    margin-bottom: 0.3rem;
    
  }

  .tasks button{
    height: 11vmin;
  }
  
  .task{
    font-size: 2vmax;
  }
}